html, body {
  margin: 0;
  width: 100%;
  height: 100%; }

[table] {
  display: table;
  width: 100%;
  height: 100%; }

[table-cell] {
  display: table-cell; }

[table-cell="middle"] {
  vertical-align: middle; }

[module="field"] {
  background-color: #5d5d5d;
  height: 100%;
  width: 100%; }

[module="header"] {
  height: 26px;
  width: 100%;
  box-shadow: -1px -1px 10px 1px rgba(0, 0, 0, 0.8);
  background: #323232;
  /* Old browsers */
  background: -moz-linear-gradient(top, #323232 0%, #282828 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #323232), color-stop(100%, #282828));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #323232 0%, #282828 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #323232 0%, #282828 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #323232 0%, #282828 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #323232 0%, #282828 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(50,50,50)', endColorstr='rgb(40,40,40)',GradientType=0 );
  /* IE6-9 */ }
  [module="header"] div[tabs] {
    padding: 0px 10%; }
  [module="header"] [tab] {
    color: #ccc;
    display: inline-block;
    height: 100%;
    font-family: monospace;
    vertical-align: top;
    cursor: pointer;
    padding: 0 10px;
    line-height: 25px;
    font-size: 13px; }
  [module="header"] [menuList] {
    border-radius: 0px 0px 5px 5px;
    padding: 5px 20px;
    width: 200px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9); }

[module="canvasField"] {
  margin: 0 auto;
  background-color: whitesmoke;
  width: 80%;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
  border: solid 1px black; }

section[module="toolBox"] {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 240px;
  background-color: #494949;
  height: 250px;
  z-index: 5;
  border-radius: 5px 5px 0px 0px;
  border: solid 1px black; }

section[module="toolBox"] [parts="header"] {
  height: 13px;
  border-top: solid 1px rgba(200, 200, 200, 0.4);
  border-bottom: solid 1px #212121;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  box-sizing: border-box;
  background: #323232;
  /* Old browsers */
  background: -moz-linear-gradient(top, #323232 0%, #282828 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #323232), color-stop(100%, #282828));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #323232 0%, #282828 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #323232 0%, #282828 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #323232 0%, #282828 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #323232 0%, #282828 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(50,50,50)', endColorstr='rgb(40,40,40)',GradientType=0 );
  /* IE6-9 */ }
section[module="toolBox"] [function="acceptBox"] {
  font-size: 12px;
  text-align: center;
  border: solid 1px #555;
  padding: 15px;
  box-sizing: border-box;
  margin: 5%;
  width: 90%;
  color: #ccc;
  height: 150px;
  display: inline-block;
  vertical-align: middle; }
section[module="toolBox"] [function="removeBtn"] {
  color: #999;
  font-size: 10px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: -1px; }
  section[module="toolBox"] [function="removeBtn"]:hover {
    height: 12px;
    border-radius: 5px 0px 0px 0px;
    border-right: solid 1px #212121;
    box-sizing: border-box;
    border-top: solid 1px rgba(200, 200, 200, 0.4);
    background: #434343;
    /* Old browsers */
    background: -moz-linear-gradient(top, #434343 0%, #3c3c3c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #434343), color-stop(100%, #3c3c3c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #434343 0%, #3c3c3c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #434343 0%, #3c3c3c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #434343 0%, #3c3c3c 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #434343 0%, #3c3c3c 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(67,67,67)', endColorstr='rgb(60,60,60)',GradientType=0 );
    /* IE6-9 */ }
    section[module="toolBox"] [function="removeBtn"]:hover > .glyphicon {
      font-size: 10px;
      top: 0px; }

section[module="app"] {
  height: 100%;
  width: 100%;
  overflow: hidden; }
