[module="header"]{
  height: 26px;
  width: 100%;
  box-shadow: -1px -1px 10px 1px rgba(0,0,0,0.8);
  background: rgb(50,50,50); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(50,50,50) 0%, rgb(40,40,40) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(50,50,50)), color-stop(100%,rgb(40,40,40))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(50,50,50) 0%,rgb(40,40,40) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(50,50,50) 0%,rgb(40,40,40) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(50,50,50) 0%,rgb(40,40,40) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgb(50,50,50) 0%,rgb(40,40,40) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(50,50,50)', endColorstr='rgb(40,40,40)',GradientType=0 ); /* IE6-9 */
}
div[tabs]{
  padding: 0px 10%;
}
[tab]{
  color: #ccc;
  display: inline-block;
  height: 100%;
  font-family: monospace;
  vertical-align: top;
  cursor: pointer;
  padding: 0 10px;
  line-height: 25px;
  font-size: 13px
}
[menuList]{
  border-radius: 0px 0px 5px 5px;
  padding: 5px 20px;
  width: 200px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.9);
}