section(data-js="canvasBase")
  section(module="header", data-js="header")
  section(module="body", table, data-js="body")
    div(table-cell="middle")
      div(data-js="canvases")
      div(data-js="tool")