div(tabs)
  #file.dropdown.pull-left(data-js="dropdown")
    div#fileLabel(tab="fileMenu", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | ファイル
      ul.dropdown-menu(data-js="fileMenu", menuList="file")
        li(data-js="openModal", fileMenu="newFile", modalClass="#fileModal")
            | 新規ファイル
          div(data-js="newCanvas")
            #fileModal.modal.fade(data-js="fileModal")
              .modal-dialog
                .modal-content
                  .modal-header
                    h4#fileModalLabel.modal-title 新規キャンバス
                  .modal-body
                      .label(for="canvasName")
                          | 名前：
                      input#canvasName(data-js="canvasName", sclass="form-control", name="canvasName", type="text", value="新規キャンバス")
                    div([clear])
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') キャンセル
                    button.btn.btn-primary(type='submit', data-js='submit') ＯＫ
  #window.dropdown.pull-left(data-js="dropdown")
    div#windowLabel(tab="windowMenu", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | ウインドウ
      ul.dropdown-menu(data-js="windowMenu", menuList="file", role='menu', aria-labelledby='windowLabel')
        li(data-js="showTool", windowMenu="tool")
            | ツール
  #share.dropdown.pull-left(data-js="dropdown")
    div#showLabel(tab="shareMenu", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | シェア
      ul.dropdown-menu(data-js="shareMenu", menuList="file", role='menu', aria-labelledby='shareLabel')
        li(shareMenu="facebook")
          a(share-Wrap href="http://www.facebook.com/share.php?u=https://gamerinshaft.azurewebsites.net/thumix" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;")
              | Facebook
        li(shareMenu="twitter")
          a(share-Wrap href="http://twitter.com/share?count=horizontal&amp;original_referer=http://gamerinshaft.azurewebsites.net/thumix&amp;text=Web上で簡単に画像合成できるサービスなんじゃ＾〜 &amp;url=http://gamerinshaft.azurewebsites.net/thumix" onclick="window.open(this.href, 'tweetwindow', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;")
              | Twitter
  div(clear)

