div(tabs)
  .dropdown
    div#dLabel(tab="fileMenu", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | ファイル
      ul.dropdown-menu(menuList="file", role='menu', aria-labelledby='dLabel')
        li(fileMenu="new", data-js="newFile")
            | 新規ファイル


