div(tabs)
  .dropdown
    button#dLabel(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Dropdown trigger
        span.caret
      ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
        | ...


