div(id="image" + image.get("order"), module="image", style="width:" + image.get("width") + "px")
  div(parts="header")
    div.pull-left(function="removeBtn", image-order="image" + image.get("order"))
      .glyphicon.glyphicon-remove
    div(clear)
  div(parts="body")
    img(src = image.get("src"))
