section(data-js="toolBox", module="toolBox", class="hide")
  div(parts="header")
    div(data-js="remove", function="removeBtn")
      div(class="glyphicon glyphicon-remove")
  div(parts="body")
    div(function="acceptBox", data-js="acceptBox").
      ここにファイルをドラッグまたはクリックでアップロード
    input(type="file", data-js="submitImage", name="file", class="hide")
